
.section.section-1
    .container
        .col-xs-12
            h2.text-center 現代の日本における医学部入試の妥当性を多角的に検討し、今後のあるべき姿を探る
            //- p
            //-     | 医学部の入学試験は、合格者の大半が将来医師になるため極めて重要である。
            //-     | 教育格差が深刻になる中、有名進学校の成績上位者、都会の予備校で受験対策を受けた者が
            //-     | 医学部入学者の大半を占めている。一方、医師が不足している地域の出身者や、
            //-     | 多様な背景をもつ者を入学させることも模索されている。
            //- p
            //-     | また、海外では、教育格差の是正を目指した入試制度や学業成績以外の指標も重視した評価も行われている。
            //-     | この医学部入試の評価方法や合格基準について、その妥当性を検証した研究は少ない。
            //-     | 本研究の目的は、現代の日本における医学部入試の妥当性を多角的に検討し、今後のあるべき姿を探る。
            //-     | 情報や議論は可能な限り公開し、幅広い情報収集と意見交換を促進する。
            
            p
                | 　日本の医学部は入学者の大半が将来医師になることから、その入学試験（以下、医学部入試）が社会へ与える影響は大きい。
                | 医学部入試の学力試験では、当然のことながら受験学力を測定している。受験学力のみで入学者を選抜することについては、
                | 厚生労働省や日本医学教育学会が、かねてから改善するよう勧告がなされている。それに呼応して、
                | 面接や高校時代の活動などを重視する評価や推薦入試が医学部でも少しずつ導入されている。
            p
                | 　しかし、入学後の過密なカリキュラムから脱落しないためには高度な学力が必要であるとする意見も多い。
                | 結局、受験学力が、日本の医学部入試の尺度の中心になっている。

.section.section-2
    .container
        .col-sm-6
            h3 論点1 - 高度な学力を測定することの妥当性
            p
                | 　日本では、医師不足の地域出身の志願者を医学部に入学させるための、
                | いわゆる「地域枠」が政策的に導入され、大学によっては入学定員の過半数を占めている。
                | たとえばこの特別枠の志願者に求める受験学力は、
                | 一般枠の受験者に求める受験学力と同じ基準にする必要があるのだろうか。
        .col-sm-6
            h3 論点2 - 教育格差の影響
            p
                | 　格差社会が日本の大きな課題になる中、教育格差も深刻になっている。
                | 現在の日本の医学部入試は、進学校の成績上位者、そして予備校で受験対策を学ぶことができる者でなければ、
                | 合格することがきわめて困難になっている。
                | 裕福な家庭の出身者、進学校の多い都会の出身者が医学部入学に有利になっているという懸念がある。

.section
    .container
        .col-sm-4
            h4 リンク
            table.table
                tr
                    td
                        a(href="https://kaken.nii.ac.jp/d/p/24390133.ja.html" target="_blank") 本研究の科研費ページ
                tr
                    td
                        a(href="http://edu.med.hokudai.ac.jp/cme/" target="_blank") 医学教育推進センター | 北海道大学大学院医学研究科・医学部

        .col-sm-4
            h4 サイトポリシー
            p
                a(href="http://www.hokudai.ac.jp/sub/policy/unyou.pdf" taget="_blank") 北海道大学公式Webサイト運用方針(PDF)
                | を遵守し、本ウェブサイトの運営・管理を行っています。

                
        .col-sm-4
            h4 お問い合わせ
            h5 代表者 大滝純司
            p
                span.nobr
                    | jotaki
                    i.fa.fa-at
                    | med.hokudai.ac.jp
