.section.section-main
    .container
        .col-xs-12
            if i18n.ja
                h1.text-center 現代の日本における医学部入試の妥当性を多角的に検討し、今後のあるべき姿を探る
                p
                    | 　日本の医学部は入学者の大半が将来医師になることから、 その入学試験（以下、医学部入試）が社会へ与える影響は大きい。 医学部入試で合否を分ける要因の多くは学力試験の成績であり、 これはいわゆる「受験学力」を測定した結果である。 このように受験学力のみを重視して入学者を選抜することについては、 厚生労働省や日本医学教育学会などから改善するよう勧告がなされている。それに呼応して、 面接や高校時代の活動などを重視する評価や推薦入試が医学部でも少しずつ導入されている。 医学部入試などの試験を行う場合に、その試験の方法を検討する観点がいくつか知られているが、 特に、
                    strong 「妥当性 Validity」
                    strong 「信頼性 Reliability」
                    strong 「実現可能性 Feasibility」
                    strong 「容認可能性 Acceptability」
                    | は重要とされている。
                
                h3 本ウェブサイトの目的
                p
                    | 　このサイトでは、医学部入試の現状を妥当性の観点から多角的に検討し、 今後のあり方について考察する資料を提供することを目的としている。
            if i18n.en
                h1.text-center
                    | Considering the validity of medical school entrance examinations in Japan from various perspectives, exploring an optimal way
                p
                    | The majority of Japanese medical school students will become physicians in the future. Consequently, the impact of medical school entrance examinations (hereinafter entrance exams) on society is considerable. The problem is that these examinations mostly focus on taking the measure of academic achievement. The Japanese government and the Japan Society for Medical Education have repeatedly made recommendations that the situation be improved. In order to satisfy them, other measurements such as interviews, records of high school activities have been introduced little by little in the selection process. In reviewing the methodology of examinations including ones for medical schools, three viewpoints are regarded as especially important: “reliability,” “feasibility” and “acceptability”
                h3 Purpose of this website
                p
                    | This website is aimed at discussing the validity of medical school entrance examinations in Japan from various perspectives and sharing information which will be helpful to explore an optimal way.


.section.section-shaded.section-main
    .container
        if i18n.ja
            .col-xs-12
                h2 論点
            .col-sm-6
                h3 1. 高度な学力を測定することの妥当性
                p
                    | 　日本では、医師不足の地域出身の志願者を医学部に入学させるための、 いわゆる「地域枠」が政策的に導入され、大学によっては入学定員の過半数を占めている。 たとえばこの特別枠の志願者に求める受験学力は、 一般枠の受験者に求める受験学力と同じ基準にする必要があるのだろうか。
            .col-sm-6
                h3 2. 教育格差の影響
                p
                    | 　格差社会が日本の大きな課題になる中、教育格差も深刻になっている。 現在の日本の医学部入試は、進学校の成績上位者、そして予備校で受験対策を学ぶことができる者でなければ、 合格することがきわめて困難になっている。 裕福な家庭の出身者、進学校の多い都会の出身者が医学部入学に有利になっているという懸念がある。

        if i18n.en
            .col-xs-12
                h2 Points at issue
            .col-sm-6
                h3 1. Validity of measuring high academic ability
                p
                    | In Japan, a rural quota system has been introduced as a policy measure whereby applicants from areas with a shortage of doctors are preferentially admitted to medical school, and in some universities such applicants account for the majority of those admitted. For example, must the entrance examination scores required of applicants under this special system be set at the same level as the examination scores required of those applying under the general admission system?

            .col-sm-6
                h3 2. Effect of the education gap
                p
                    | Social inequality is becoming a major issue in Japan, and educational inequality is also worsening. The current medical school entrance examinations are extremely difficult to pass unless students are both among those gaining top grades at high schools oriented to preparing students for university entrance examinations and also have the opportunity to study test-taking strategies at cram schools. There are concerns that individuals from wealthy families and those from urban areas with large numbers of high schools dedicated to preparing students for university entrance examinations are at an advantage in entering medical school.

.section.section-main
    .container
        if i18n.ja
            .col-xs-12
                h2 検討方針
            .col-sm-6
                h3 1. 情報を探して共有する
                p
                    | 　医学部入試の妥当性を検討することは容易ではない。理論的に言えば、
                    | 入試の最終的な成果を定義し、その成果を測定する必要がある。
                    | たとえば入試の目的が「医師になる適性がある学生の選抜」ならば、
                    | 医師国家試験の合格率が指標になるだろう。
                p
                    | 　しかし、これは求められる成果のごく一部に過ぎない。また、
                    | 教育格差との関連など、医学部入試に関連する社会学的情報も少なく、
                    | 把握が困難である。まずは情報を探して共有することから始める。

            .col-sm-6
                h3 2. 国際比較で視野を広げる
                p
                    | 　世界の医学部の入学者選抜の方法は極めて多様である。
                    | 一方、日本の大学入試では、ペーパーテストで大勢の受験生が同時に同じ問題に解答し、
                    | その点数で合否を判定するという方法の明快さを、
                    | いわば「一発勝負の公平性」として尊重する意見も耳にする。国際比較をすることで視野を広げ、
                    | 互いの特徴や課題を明らかにしていく。
        if i18n.en
            .col-xs-12
                h2 Policies for investigation
            .col-sm-6
                h3 1. Collect and share information
                p Investigating the validity of medical school entrance examinations is no easy task. Theoretically, it is necessary to define and measure the final outcome of entrance examinations. For example, if the purpose of an entrance examination is to select the students with the appropriate characteristics to become doctors, the pass rate for the National Medical Licensing Examination might constitute an indicator.
                p However, this is only a small part of the outcome that is actually required. In addition, there is a paucity of sociological information concerning medical school entrance examinations, such as that in relation to educational inequality, and its assessment is difficult. We will begin by collecting and sharing information.
            .col-sm-6
                h3 2. Expand our outlook by including international comparisons
                p Globally, the methods of selecting students for admission to medical school are extremely varied. In Japanese university entrance examinations, however, large numbers of applicants solve the same problems on paper tests simultaneously, and whether they pass or fail is determined by their score; from some points of view, the clarity of this method has been praised as a fair one-shot chance. We will broaden our perspective through making international comparisons, and identify our respective distinguishing characteristics and issues.
                
                
