.header {
  margin: 16px 0 24px;
  h1 {
    font-size: 36px;
    margin: 0;
    color: #333;

    text-align: center;
  }


  .info {
    margin: 8px 0;
    font-size: 16px;
    color: #6B7D7D;
    text-align: center;
    line-height: 16px;
    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  &:after {
    content: '';
    display: block;
    margin: 16px auto;
    width: 240px;
    height: 2px;
    background-color:  #CE2D4F;
  }
}

.noTranslation {
  color: red;
  text-align: center;
}


.content {
  h2, h3, h4 {
    color: #114B5F;
  }


  :not(pre) > code {
    padding: 0 2px;
    margin: 0 2px;
    color: brown;
    background-color: #d9d9d9;
    white-space: nowrap;
  }

  img {
    display: block;
    max-width: 100%;
  }
}


.sidebar {
  /*background-color: red;*/
  @media (max-width: 500px) {
    margin: 0 -8px;
    border-bottom: solid 1px #114B5F;
  }

  @media (min-width: 500px) and (max-width: 800px) {
    lost-column: 1/3;
  }
  @media (min-width: 800px) {
    lost-column: 1/4;
  }
}

.contentWithSidebar {
  padding: 0 8px;
  @media (min-width: 500px) and (max-width: 800px) {
    lost-column: 2/3;
  }
  @media (min-width: 800px) {
    lost-column: 3/4;
  }
}
