.categoryPanels {
  list-style: none;
  padding: 0;
  margin: 0;
  lost-utility: clearfix;
}

.categoryPanel {
  margin-bottom: 16px;
  @media (min-width: 500px) and (max-width: 1000px) {
    lost-column: 1/2;
  }
  @media (min-width: 800px) {
    lost-column: 1/3;
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
    lost-utility: clearfix;
    &:hover {
      opacity: 0.8;
    }
  }

  h3 {
    margin: 0;
    font-weight: 400;
    border-bottom: solid 2px #114B5F;
    margin-bottom: 8px;
    color: #114B5F;
    font-size: 16px;
    padding: 4px 0;
  }

  .img {
    float: left;
    width: 120px;
    height: 100px;
    margin-right: 8px;

    background-size: cover;
    background-position: center;
  }

  .imgOnly {
    width: 100%;
    height: 100px;

    background-size: cover;
    background-position: center;
  }

}

.newsList {
  max-height: 320px;
  overflow-y: auto;
  border: solid 1px #6B7D7D;
  border-radius: 2px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 8px;
    lost-utility: clearfix;
    &:not(:last-child) {
      border-bottom: solid 1px #6B7D7D;
    }

    .newsDate {
      float: left;
      width: 160px;
      height: 100%;
    }
    .newsMessage {
    }
  }
}

.heading {
  font-weight: normal;
  font-style: normal;
  color: #114B5F;
}
