.table {
  overflow-x: auto;
  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 8px;

    thead {
      tr {
        border-bottom: solid 1px #6B7D7D;
      }
    }

    td, th {
      padding: 6px;
      white-space: nowrap;
    }

    th {
      word-break: keep-all;
      text-align: center;
    }

    tr {
      word-break: normal;
      border-bottom: solid 1px #6B7D7D;
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 3px 0;
        &:not(:last-child) {
          /*border-bottom: solid 1px #6B7D7D;*/
        }
      }
    }
  }
}

.center {
  text-align: center;
}
