.wrap
    .hero(v-el="hero" v-class="'hero-narrow': heroNarrow, 'hidden': !heroShown")
        .container
            if i18n.ja
                h2.hero-title
                    | 医学部入試の
                    br
                    span.accented-char 妥
                    | 当性を
                    br
                    | 考える
            if i18n.en
                h2.hero-title
                    | Considering the validity of
                    br
                    span.span.accented-char M
                    | edical school
                    br
                    | entrance examination

    .menu(v-class="'menu-fixed': menuFixed" v-if="menuShown")
        .container
            .menu-item(
                v-repeat="item: items"
                v-class="'menu-item-active': $index == activeItemIndex"
                v-show="!item.userOnly || active")
                a.clickable(href="{{item.href}}" v-on="click: menuClicked(item)")
                    i.fa.fa-fw(class="fa-{{item.icon}}" v-if="item.icon")
                    | {{item.text}}

    .menu-shadow(v-show="menuFixed")

    .content(v-view="content")
        
    .section.section-shaded(v-if="footerShown")
        .container
            if i18n.ja
                .col-sm-4
                    h4 内部リンク
                    table.table
                        tr
                            td
                                a(href="/") TOP
                        tr
                            td
                                a(href="/article") 記事一覧

                    h4 サイトポリシー
                    p
                        a(href="http://www.hokudai.ac.jp/sub/policy/unyou.pdf" taget="_blank") 北海道大学公式Webサイト運用方針(PDF)
                        | を遵守し、本ウェブサイトの運営・管理を行っています。

                .col-sm-4
                    h4 リンク
                    table.table
                        tr
                            td
                                a(href="https://kaken.nii.ac.jp/d/p/24390133.ja.html" target="_blank")
                                    | 本研究の科研費事業データーベースのページ
                        tr
                            td
                                a(href="http://edu.med.hokudai.ac.jp/cme/" target="_blank")
                                    | 医学教育推進センター | 北海道大学大学院医学研究科・医学部

                .col-sm-4
                    h4 お問い合わせ
                    h5 代表者 大滝純司（北海道大学医学研究科医学教育推進センター教授）
                    table.table
                        tr
                            td
                                | 〒060-8638
                                br
                                | 札幌市北区北15条西7丁目
                        tr
                            td
                                | TEL/FAX 011-706-5136
            if i18n.en
                .col-sm-4
                    h4 Internal Links
                    table.table
                        tr
                            td
                                a(href="/") TOP
                        tr
                            td
                                a(href="/article") Articles

                    h4 Website Poricy
                    p
                        | We are operating and managing this website with respecting 
                        a(href="http://www.hokudai.ac.jp/sub/policy/unyou.pdf" taget="_blank") 北海道大学公式Webサイト運用方針(PDF written in Japanese)

                .col-sm-4
                    h4 Links
                    table.table
                        tr
                            td
                                a(href="https://kaken.nii.ac.jp/d/p/24390133.ja.html" target="_blank")
                                    | Page of this project in KAKEN database
                        tr
                            td
                                a(href="http://edu.med.hokudai.ac.jp/cme/" target="_blank")
                                    | Center for Medical Education | Hokkaido University
                .col-sm-4
                    h4 Contacts
                    h5 Leader: Junji Otaki (Professor of Hokkaido University)
                    table.table
                        tr
                            td
                                | Kita 14, Nishi 5, Kita-ku, Sapporo, 060-8648 Hokkaido, JAPAN
                        tr
                            td
                                | TEL/FAX +81-11-706-5136


    .footer
        .footer-items
            .footer-item-text
                a(href="/") Top
            .footer-item-text
                a(href="/manage" v-if="active") Manage
            .footer-item-text
                a(href="/login" v-if="!active") Login
                a(href="/logout" v-if="active") Logout
