//- .header
//-     .header-menus
//-         .header-menu
//-             a(href="/") TOP
//-         .header-menu
//-             a(href="/") ARTICLE
.wrap
    .hero(v-show="showHero")
        h1.hero-title
            | 医学部入試の
            br
            span.accented-char 妥
            | 当性を
            br
            | 考える
        
        .row
            .col-xs-6.col-sm-3.col-sm-offset-6
                .share-twitter
                    i.fa.fa-fw.fa-twitter
                    | Tweet
            .col-xs-6.col-sm-3
                .share-facebook
                    i.fa.fa-fw.fa-facebook
                    | Share

    .content(v-view="content")

    .footer
        .footer-items
            .footer-item-text
                a(href="/") Top
            .footer-item-text
                a(href="/login" v-if="!active") Login
                a(href="/logout" v-if="active") Logout
