div
.row(v-if="resolved")
    .col-xs-12.col-sm-12.col-md-8.pull-right
        component(is="{{view}}")
        
    .col-xs-12.col-sm-12.col-md-4.pull-right
        .col-xs-6.col-sm-6.col-md-12
            h3 カテゴリ
            ul.categories
                li.category(v-repeat="cat: cats" track-by="_id")
                    a(href="/article?category={{cat._id}}")
                        | {{cat.name_ja}}

        .col-xs-6.col-sm-6.col-md-12
            .tags
                h3 タグ
                ul.tags
                    li.tag(v-repeat="tag: tags" track-by="_id" v-show="tag.articles.length")
                        a(href="/article?tag={{tag._id}}")
                            | {{tag.name_ja}}({{tag.articles.length}})
