.row.article-wrapper
    .col-xs-12.col-sm-12.col-md-8.pull-right
        div(v-view="article_main")
        
    .col-xs-12.col-sm-12.col-md-4.pull-right
        .col-xs-6.col-sm-6.col-md-12
            h3= i18n.ja ? 'カテゴリ' : 'Categories'
            ul.categories(v-if="resolved")
                li.category(v-repeat="cat: cats" track-by="_id")
                    a(href="/article?category={{cat._id}}")
                        | {{cat['name_'+lang]}}

        .col-xs-6.col-sm-6.col-md-12
            .tags
                h3= i18n.ja ? 'タグ' : 'Tags'
                ul.tags(v-if="resolved")
                    li.tag(v-repeat="tag: tags" track-by="_id" v-show="tag.articles.length")
                        a(href="/article?tag={{tag._id}}")
                            | {{tag['name_'+lang]}}({{tag.articles.length}})
