ol.crumbs
    li.crumb
        a(href="/article")= i18n.ja ? '記事一覧' : 'Articles'
        span.crumb-delimitter
            i.fa.fa-angle-right
    li.crumb(v-if="tag")
        span= i18n.ja ? 'タグ：' : 'Tag: '
        a(href="/article?tag={{tag._id}}") {{tag['name_'+lang]}}
    li.crumb(v-if="cat")
        a(href="/article?category={{cat._id}}") {{cat['name_'+lang]}}
    li.crumb(v-if="!tag && !cat")
        span= i18n.ja ? 'すべて表示' : 'all'

div(v-if="cat")
    h2 {{cat['name_'+lang]}}
    p {{cat['desc_'+lang]}}
    hr
div(v-if="tag")
    h2 {{tag['name_'+lang]}}
    hr

div(v-if="!empty")
    .article-digest(v-repeat="article: articles" track-by="_id")
        h2
            a(href="/article/{{article.slug}}") {{article['title_'+lang]}}
        .article-digest-dates
            if i18n.ja
                | 更新日 {{article.updated_at | date 'YYYY年M月DD日'}}
                | &nbsp;/&nbsp;
                | 投稿日 {{article.created_at | date 'YYYY年M月DD日'}}
            if i18n.en
                | Updated at {{article.updated_at | date 'MMM Do, YYYY'}}
                | &nbsp;/&nbsp;
                | Created at {{article.created_at | date 'MMM Do, YYYY'}}
            span(v-if="article.draft")
                | &nbsp;/&nbsp;下書き

.text-muted(v-if="empty")
    .spacer
    p
        if i18n.ja
            span(v-if="tag") {{tag.name_ja}}のタグが付いた記事が存在しません
            span(v-if="cat") {{cat.name_ja}}のカテゴリーに属する記事が存在しません
        if i18n.en
            span(v-if="tag") No articles with tag "{{tag.name_en}}"
            span(v-if="cat") No articles in category "{{cat.name_en}}"
