p
    a(href="/") トップへ戻る

h1 記事一覧
p
    a(href="/article/new") 新規作成

div(v-if="resolved")
    ul
        li(v-repeat="article: articles")
            a(href="/article/{{article.slug || article.id}}") {{article.title_ja}}
            | {{article.created_at | date 'YYYY年MM月DD日'}}
