p(v-if="article")
    a(href="/article") 一覧へ戻る
    span(v-if="active")
        | 、
        a(href="/article/{{article.slug}}/edit") 編集

p(v-show="!article") loading..

div(v-if="article")
    h1 {{article.title_ja}}
    div(v-html="compiledContent")
