ol.crumbs
    li.crumb
        a(href="/article") 記事一覧
        span.crumb-delimitter
            i.fa.fa-angle-right
    li.crumb
        a(href="/article/{{article.slug}}") {{article.title_ja}}

.article(v-if="resolved")
    h1 {{article.title_ja}}
    table.table
        tr
            th 更新日
            td {{article.updated_at | date 'YYYY年M月DD日'}}
        tr
            th 投稿日
            td {{article.created_at | date 'YYYY年M月DD日'}}
    
    div(v-html="getHtml(article)")
