h2.nomt タグの管理
p
    a(href="/manage/tag/new") タグの追加

table.table(v-if="resolved")
    thead
        tr
            th 日本語
            th 英語
            th
    tbody
        tr(v-repeat="tag: tags" track-by="_id")
            td {{tag.name_ja}}
            td {{tag.name_en}}
            td
                a(href="/manage/tag/{{tag._id}}") 編集
