h2.nomt 記事の管理
p
    a(href="/manage/article/new") 記事の追加

table.table(v-if="resolved")
    thead
        tr
            th.text-left URL
            th.text-left 和名
            th.text-left 英名
            th タグ
            th カテゴリ
            th 状態
            th
    tbody
        tr(v-repeat="article: articles" track-by="_id")
            td
                a(href="/article/{{article.slug}}") /article/{{article.slug}}
            td
                | {{article.title_ja}}
            td
                | {{article.title_en}}
            td
                .tips(v-if="article.tags.length > 0")
                    .tip(v-repeat="tag: tags | tagId article.tags")
                        a(href="/manage/tag/{{tag._id}}") {{tag.name_ja}}
                span.text-muted(v-if="article.tags.length < 1") タグなし
            td.text-center
                | {{getCat(article).name_ja}}
            td.text-center
                span(v-if="article.draft") 下書き
                span(v-if="!article.draft") 公開
            td
                a(href="/manage/article/{{article._id}}") 編集
