.col-md-12
    h1 管理
    .col-md-3
        p
            | {{user.username}}としてログインしています
        ul
            li
                a(href="/manage") 管理トップ
            li
                a(href="/manage/user") ユーザー
            li
                a(href="/manage/category") カテゴリ
            li
                a(href="/manage/article") 記事
            li
                a(href="/manage/tag") タグ
            li
                a(href="/manage/file") ファイル
        p
            a(href="/") サイトトップヘ戻る
    .col-md-9
        div(v-view="manage_main")
    
